{% extends 'base.html' %}

{% block title %} Quem Somos {% endblock %}

{% block content %}

<!-- <figure>
    <img class="outdoor"
    src="../static/img/capa3.jpg" 
        alt="capa" 
    width="1000" 
    height="400"
    >
</figure> -->

<main>

    <div class="main-texto">
        <!-- <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> -->

        <div class="alert alert-danger" id="titulos" role="alert">

            <div class="spinner-border text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div id="rodinhacenter">
                <h1>Sobre a empresa</h1>          
            </div>    

            <div class="spinner-border text-danger" id="rodinhaladoesq" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        
        </div>

        <!-- <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div> -->
        <p> Alunas do curso de Análise e desenvolvimento de sistemas, que tiveram a idéia de adocicar a vida sofrida dos alunos da unidade FATEC de São José dos Campos - SP, e obter mais uma opção financeira para ajudar a custear as despesas da faculdade</p>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade d-md-block">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/img/IMG-20231114-WA0089.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/img/IMG-20231114-WA0090.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/img/IMG-20231114-WA0093.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    



</main>

{% endblock %}