{% extends 'base.html' %}

{% block title %} Quem Somos {% endblock %}

{% block content %}

<!-- <figure>
    <img class="outdoor"
    src="../static/img/capa3.jpg" 
        alt="capa" 
    width="1000" 
    height="400"
    >
</figure> -->

<main>

    <div class="main-texto">
        <div class="alert alert-danger" role="alert">
        <h1>Sobre a empresa</h1></div>
        <p> Alunas do curso de Análise e desenvolvimento de sistemas, que tiveram a idéia de adocicar a vida sofrida dos alunos da unidade FATEC de São José dos Campos - SP, e obter mais uma opção financeira para ajudar a custear as despesas da faculdade</p>
    </div>

    <div class="spinner-border text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>



</main>

{% endblock %}