{% extends 'base.html' %}

{% block title %} Quem Somos {% endblock %}

{% block imagemfundo %} style="background-image: url('../static/img/fundo2.png')"{% endblock %}


{% block content %}
<main>    

    <article>
        <div class="alert alert-danger" role="alert">
            <h1>Quem somos</h1>
          </div>
        
        <p> As "Mari's", estudantes do primeiro semestre de Análise e Desenvolvimento de Sistemas, segundo semestre de 2023.
        Mariane Ferreira: Estudante, mãe, Teleatendente, maquiadora, designer de sobrancelhas.
        Mariana Rebelo: mamãe de bicho, veterinária, atleta, apaixonada por rugby.
    </p>
    </article>

    <article>
        <div class="alert alert-danger" role="alert">
            <h1> Motivos para comprar com a gente:</h1>
          </div>
        
        <ol>
            <li>Os melhores doces</li>
            <li>Libera seu lado ninja para MD</li>
            <li>Alivia os sintomas de pré prova</li>
            <li>Libera coragem nas apresentações de API</li>
            <li>Ajuda a aliviar sintomas da TPM</li>
        </ol>
        <hr>
    </article>

    <article>
        <div class="alert alert-danger" role="alert">
            <h1>Objetivos</h1>
          </div>
        
        <p> Proporcionar aos alunos mais opções adocicadas para enfrentar os desafios diários das aulas, aliviar a tensão e extresses diários.
        </p>
    </article>


</main>
{% endblock %}